<div class="menu">
  <h4 class="menu-link"><%= link_to "Home", root_path %></h4>
  <% if current_user.admin %>
    <h4 class="menu-link"><%= link_to "Admin", admin_path %></h4>
  <% end %>
  <h4 class="menu-link"><%= link_to "Account Settings", edit_user_registration_path %></h4>
  <h4 class="menu-link"><%= link_to "Widget Store", widgets_path %></h4>
  <h4 class="menu-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></h4>

  <h4><a id="menuBtn" href="#">MENU</a></h4>
  <!-- <%= link_to "Dash", root_path %> -->
</div>
