<nav>
  <%= render 'shared/menu' %>
</nav>

<div class="store-details-container">
  <div class="store-details-pane edit-widget">
  <h2>Editing <%= @widget.widget_name %></h2>
    <%= form_for@widget, :html => { multipart: true } do |w| %>

      <%= w.label :widget_name %>
      <%= w.text_field :widget_name %>

      <%= w.label :description%>
      <%= w.text_area :description %>

      <%= w.label :logo_url%>
      <%= w.text_field :logo_url %>

      <%= w.label :screenshots %>
      <%= file_field_tag "images[]", type: :file, multiple: true %>

      <%= w.submit "Update Widget" %>
  <% end %>

    <p>
      <%= link_to 'View', @widget %> |
      <%= link_to 'Back', widgets_path %>
    </p>
  </div>
</div>

<!--<%= render 'form', widget: @widget %>-->
