<% if notice || alert %>
  <p class="general-alerts">
    <span class="notice"><%= notice %></span>&nbsp;<span class="alert"><%= alert %></span>
  </p>
<% end %>

<nav>
  <%= render 'shared/menu' %>
</nav>

<div class="store-container">
  <div class="store-pane">
    <h1>Widget Store</h1>

    <% if !@widgets.nil? && @widgets.size != 0 %>
      <% @widgets.each do |widget| %>
        <%= link_to widget do %>
          <figure>
            <div class="widget-logo-bg">
              <% if !widget.logo_url.nil? && widget.logo_url != "" %>
                <%= image_tag(widget.logo_url, alt: widget.widget_name) %>
              <% else %>
                <p>X</p>
              <% end %>
            </div>
            <figcaption>
              <span class="widget-title"><%= widget.widget_name %></span>

              <span class="widget-rating">
                <% if (avg_rating = widget.reviews.all.average(:rating)).nil? %>
                  &#9734;
                <% else %>
                  <%= avg_rating.round %> &#9733;
                <% end %>
              </span>
            </figcaption>
          </figure>
        <% end %>
      <% end %>
    <% else %>
      <p>No widgets found. Sorry!</p>
    <% end %>
  </div>
</div>

<!--
<table>
  <thead>
    <tr>
      <th>Widget name</th>
      <th>Logo url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= widget.widget_name %></td>
        <td><%= widget.logo_url %></td>
        <td><%= widget.description %></td>
        <td><%= link_to 'Show', widget %></td>
        <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
        <td><%= link_to 'Destroy', widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Widget', new_widget_path %>
-->
