<% if notice || alert %>
  <p class="general-alerts">
    <span class="notice"><%= notice %></span>&nbsp;<span class="alert"><%= alert %></span>
  </p>
<% end %>

<nav>
  <%= render 'shared/menu' %>
</nav>

<div class="store-details-container">
  <div class="store-details-pane">
    <p><%= link_to ('&laquo; Back').html_safe, widgets_path %></p>

    <!-- WIDGET TOP INFO BAR -->
    <div class="store-details-title">
      <div class="widget-logo-bg">
        <% if !@widget.logo_url.nil? && @widget.logo_url != "" %>
          <%= image_tag(@widget.logo_url, alt: @widget.widget_name) %>
        <% else %>
          <p>X</p>
        <% end %>
      </div>

      <h2><%= @widget.widget_name %></h2>

      <% widget_author = User.find(@widget.user_id) %>
      <p class="widget-author">
        By
        <% if !widget_author.full_name.nil? && widget_author.full_name != "" %>
          <%= widget_author.full_name %>
        <% elsif !widget_author.user_name.nil? && widget_author.user_name != "" %>
          <%= widget_author.user_name %>
        <% elsif !widget_author.email.nil? && widget_author.email != "" %>
          <%= widget_author.email %>
        <% else %>
          Anonymous
        <% end %>
      </p>

      <p class="widget-rating">
        <% if (avg_rating = @widget.reviews.all.average(:rating)).nil? %>
          &#9734; No ratings
        <% else %>
          <%= raw("&#9733;" * avg_rating.to_f.round + "&#9734;" * (5 - avg_rating.to_f.round)) %> <%= avg_rating.to_f.round(1) %>
        <% end %>

        <br>
        <a href="#review-form" id="review-link">Review this widget</a>
      </p>

      <% if current_user.widgets.where(id: @widget.id).first.nil? %>
        <% if (widget_install = @widget.widget_installs.where(user_id: current_user.id).first).nil? %>
          <% widget_install = @widget.widget_installs.build %>
          <%= form_for([@widget, widget_install]) do |f| %>
            <%= f.submit "INSTALL", class: "store-install-button" %>
          <% end %>
        <% else %>
          <%= button_to "UNINSTALL", widget_install_path(widget_install), method: :delete, data: {confirm: "Are you sure?"}, class: "store-uninstall-button" %>
        <% end %>
      <% end %>

      <% if @widget.user_id == current_user.id %>
        <%= link_to 'Edit', edit_widget_path, class: "store-install-button edit-widget-btn" %>
      <% end %>
    </div>

    <!-- WIDGET SCREENSHOTS GALLERY -->
    <% if @widget.screenshots.nil? || @widget.screenshots.size == 0 %>
      <div class="no-screenshots">
        <p>No screenshots available</p>
      </div>
    <% else %>
      <div class="screenshot-gallery">
        <% @widget.screenshots.each do |screenshot| %>
          <%= image_tag screenshot.url, alt: @widget.widget_name %>
        <% end %>
      </div>
    <% end %>

    <!-- WIDGET INFO -->
    <div class="widget-info">
      <% latest_version = @widget.widget_codes.where(published: true).order(:updated_at).last %>
      <p>Updated <%= latest_version.updated_at.strftime("%b %d, %Y") %></p>

      <p>
        <%= @widget.widget_installs.count %>
        <%= @widget.widget_installs.count == 1 ? "install" : "installs" %>
      </p>

      <p><%= @widget.description %></p>
    </div>

    <!-- REVIEWS -->
    <hr><h2 id="reviews-h2">Reviews</h2><hr>

    <!-- list of reviews -->
    <section id="reviews">
      <% if @widget.reviews.count != 0 %>
        <% @widget.reviews.each do |review| %>
          <% review_author = User.find(review.user_id) %>
          <div class="review">
              <h4>
                <% if !review_author.full_name.nil? && review_author.full_name != "" %>
                  <%= review_author.full_name %>
                <% elsif !review_author.user_name.nil? && review_author.user_name != "" %>
                  <%= review_author.user_name %>
                <% elsif !review_author.email.nil? && review_author.email != "" %>
                  <%= review_author.email %>
                <% else %>
                  Anonymous
                <% end %>
              </h4>

              <p id="review-rating">
                <%= raw("&#9733;" * review.rating.to_f.round + "&#9734;" * (5 - review.rating.to_f.round)) %>
              </p>

              <p id="review-date"><%= review.created_at.strftime("%b %d, %Y") %></p>

              <p><%= review.review_text %></p>
          </div>
        <% end %>
      <% else %>
        <p class="center">No one has reviewed this widget yet.</p>
      <% end %>
    </section>

    <!-- REVIEW FORM -->
    <div id="review-form">
      <h3>Leave A Review</h3>

      <% review = current_user.reviews.where(widget_id: @widget.id).first || @widget.reviews.build %>
      <%= form_for([@widget, review]) do |f| %>
        <%= f.label :rating %>
        <% ratings = [1, 2, 3, 4, 5] %>
        <%= f.select :rating, options_for_select(ratings, selected: review.rating) %>

        <%= f.label :review_text, "Review" %>
        <%= f.text_area :review_text, placeholder: "Write something here (optional)" %>

        <div class="center">
          <%= f.submit "SUBMIT REVIEW", class: "store-review-button" %>
        </div>
      <% end %>

      <% if !review.id.nil? %>
        <%= button_to "DELETE", review_path(review), method: :delete, data: {confirm: "Are you sure?"}, class: "store-review-delete-button" %>
      <% end %>
    </div>

    <p><%= link_to ('&laquo; Back').html_safe, widgets_path %></p>
  </div>
</div>

<script>
    // Activate gallery plugin
    $(document).ready(function () {
        $('.screenshot-gallery').gallery({
            items: 6,
            thumbHeight: 100,
            singleLine: true
        });
    });
</script>

<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Widget name:</strong>
  <%= @widget.widget_name %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @widget.logo_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @widget.description %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
-->
