<% if notice || alert %>
  <p class="general-alerts">
    <span class="notice"><%= notice %></span>&nbsp;<span class="alert"><%= alert %></span>
  </p>
<% end %>

<nav>
  <%= render 'shared/menu' %>
</nav>

<div class="store-details-container">
  <div class="store-details-pane">
    <div class="store-details-title">
      <h2><%= @widget.widget_name %></h2>
    </div>
  </div>
</div>



<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Widget name:</strong>
  <%= @widget.widget_name %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @widget.logo_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @widget.description %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
-->