<p id="notice"><%= notice %></p>

<h1>Widget Codes</h1>

<table>
  <thead>
    <tr>
      <th>Widget code</th>
      <th>Version</th>
      <th>Widget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @widget_codes.each do |widget_code| %>
      <tr>
        <td><%= widget_code.widget_code %></td>
        <td><%= widget_code.version %></td>
        <td><%= widget_code.widget %></td>
        <td><%= link_to 'Show', widget_code %></td>
        <td><%= link_to 'Edit', edit_widget_code_path(widget_code) %></td>
        <td><%= link_to 'Destroy', widget_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Widget Code', new_widget_code_path %>
