<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @widget_instance.user %>
</p>

<p>
  <strong>Widget:</strong>
  <%= @widget_instance.widget %>
</p>

<p>
  <strong>Data:</strong>
  <%= @widget_instance.data %>
</p>

<%= link_to 'Edit', edit_widget_instance_path(@widget_instance) %> |
<%= link_to 'Back', widget_instances_path %>
