<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :review_rating %>
  </div>

  <div class="field">
    <%= form.label :review_text %>
    <%= form.text_area :review_text, id: :review_review_text %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :review_user_id %>
  </div>

  <div class="field">
    <%= form.label :widget_id %>
    <%= form.text_field :widget_id, id: :review_widget_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
