<!DOCTYPE html>
<html>
  <head>
    <title>Dash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- start navigation -->
    <nav>
      <div class="hello">
        <h4>Hello,
          <!-- show full name if defined. Else, show username. Else, show email address. -->
          <% if !current_user.full_name.nil? %>
            <%= current_user.full_name %>.
          <% elsif !current_user.user_name.nil? %>
            <%= current_user.user_name %>.
          <% elsif !current_user.email.nil? %>
            <%= current_user.email %>.
          <% end %>

          It's currently <%= Time.now.strftime("%I:%M %p")%> on <%= Time.now.strftime("%A") %>.
        </h4>
      </div>

      <div class="menu">
          <% if user_signed_in? %>
            <h4 class="menu-link"><%= link_to "Account Settings", edit_user_registration_path %></h4>
            <h4 class="menu-link"><a href="#">Widget Store</a></h4>
            <h4 class="menu-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></h4>
          <% end %>
          <h4><a id="menuBtn" href="#">MENU</a></h4>
        <!-- <%= link_to "Dash", root_path %> -->
      </div>
    </nav>
    <!-- end navigation -->

    <main>
      <%= yield %>
    </main>

  <section id="widget-list">
    <a>My Widgets</a>
    <a>Installed</a>

    <!-- have one of these divs for each widget in list -->
    <div class="widget-list-item">
      <div class="widget-logo">
        <!-- Logo image will go here. For now, just a gray box -->
      </div>

      <div id="widget-info">
        <h4>Widget Name</h4>
        <p>A short description.</p>
        <a href="#">Add +</a>
        <a href="#">Edit</a>
        <a href="#">Store Page</a>
      </div>
    </div>

    <div class="widget-list-item">
      <div class="widget-logo">
        <!-- Logo image will go here. For now, just a gray box -->
      </div>

      <div id="widget-info">
        <h4>Widget Name</h4>
        <p>A short description.</p>
        <a href="#">Add +</a>
        <a href="#">Edit</a>
        <a href="#">Store Page</a>
      </div>
    </div>

    <a id="create-widget-btn" href="">Create a new widget</a>
  </section>
  </body>
</html>
